* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#F1F6F9,#9BA4B5, #394867, #212A3E);
    color: #F1F6F9;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
    min-width: 120px; 
    margin-top: 10px;
  }

  input {
    margin-top: 15px;
    margin-left: -9px;
  }

  button {
    margin-left: 100px;
    margin-top: 20px;
    padding: 3px 10px;
    cursor: pointer;
  }